<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" accessibility.tabfocus="1">
  <meta name="apple-mobile-web-app-capable" content="yes">  
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="/js/transformJS.js"></script>
  <script type="text/javascript" src="/js/jquery.bobble.js"></script>

  <link href="/css/bobble.css" rel="stylesheet">




</head>

<body>
	
 <%= yield %>

<script>
// When ready...
window.addEventListener("load",function() {
  // Set a timeout...
  setTimeout(function(){
    // Hide the address bar!
    window.scrollTo(0, 1);
  }, 0);
});

</script>

</body>
</html>
