
<style>
.bobble {
	position: relative;
	margin-left: 85px;
	padding-top: 30px;
	  -webkit-transition: all 0.1s ease-in-out;
	  -o-transition: all 0.1s ease-in-out;
	  -ms-transition: all 0.1s ease-in-out;
	  transition: all 0.1s ease-in-out;
}
</style>


  <div class="background"><img src="/img/panel-bg.jpg" width="100%"></div>


  <div class="bobble-body">
    <img id="head" src="/img/head.png" class="bobble" width="116">
    <img id="head" src="/img/spring.png" class="spring" width="15">
  </div>

<script>
window.addEventListener("deviceorientation", function(event) {
 var beta = parseFloat((''+event.beta).replace(/([-\d]*).*/, '$1'));
 var gamma = parseFloat((''+event.gamma).replace(/([-\d]*).*/, '$1'));
  
  beta = beta * .25;
  gamma = gamma * .25;
  
  $('#head').attr('style',  '-webkit-transform: translate('+gamma+'px, '+beta+'px);'+
                           '-moz-transform: translate('+gamma+'px, '+beta+'px);'+
                           '-o-transform: translate('+gamma+'px, '+beta+'px);'+
                           '-ms-transform: translate('+gamma+'px, '+beta+'px);'+
                           'transform: translate('+gamma+'px, '+beta+'px);')
    // .html('B: '+beta+'<br>G: '+gamma);
    .html(event.accelerationIncludingGravity.x);
}, true);
</script>