  <div class="background"><img src="/img/panel-bg.jpg" width="100%"></div>


  <div class="bobble-body">
    <img id="head" src="/img/head.png" class="bobble" width="116">
    <img id="head" src="/img/spring.png" class="spring" width="15">
  </div>

<script>
      $(".bobble").bobble();
      $(".spring").bobble();
</script>