<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
<script src="/js/springTo.js"></script>



  <div class="bobble-body">
   <img id="rubber" src="/img/head-baseball.png" class="ui-draggable" width="116">
  </div>

<script type="text/javascript">
    $(document).ready(function () {
        elementSpringTo('#rubber', 300, 250, [120, 10, 3], 1000, 200, 100);
    });
</script>