<script src="/js/pep/jquery.js"></script>

<script src="/js/pep/jquery.pep.js"></script>



  <div class="background"><img src="/img/panel-bg.jpg" width="100%"></div>


  <div class="bobble-body">
   <img id="rubber" src="/img/head-baseball.png" class="bobble" width="116">
  </div>

<script>
  jQuery(function($) {
    $('#rubber').pep(); // yup, that simple.
  });
</script>