
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
		<script src="/springTo/springTo.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/jquery.ui.touch-punch.min.js"></script>
    <link rel="stylesheet" href="/springTo/springTo.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/spring-style.css" type="text/css" media="screen" title="no title" charset="utf-8">
 

  </head>


<body>

 <div id="background"><img src="/img/room-bg2.jpg" width="100%"></div>
      
      <div id="head"></div>

<script>
var wW, wH;
var lastX = 395; 
var lastY = 300;
var trigger;


$(function () { 
  
  setTimeout(function() {
    snapTo(Math.floor(wW/2), [0,0,0]);
    // elementSpringTo('#backSection', 200, 0, [100,8,3.5], 500, 0, 100)
  },0);


  $('#head').draggable({
     start: function(event, ui) {
       elementSpringStop('#head');
     },
     stop: function(event, ui) {
       snapBack([130,5.5,1]);
     }
   });
  
  

});




function snapTo(x,y, springChar, delay, xSpeed, ySpeed) {
  elementSpringTo('#head', x-0, y-0, springChar, delay, xSpeed, ySpeed);
}



function snapBack(springChar) {
  elementSpringTo('#head', lastX-0, lastY-0, springChar);
}


</script>


<script>
window.addEventListener("deviceorientation", function(event) {
 var beta = parseFloat((''+event.beta).replace(/([-\d]*).*/, '$1'));
 var gamma = parseFloat((''+event.gamma).replace(/([-\d]*).*/, '$1'));
  
  beta = beta * .25;
  gamma = gamma * .25;
  
  $('#head').attr('style',  '-webkit-transform: translate('+gamma+'px, '+beta+'px);'+
                           'transform: translate('+gamma+'px, '+beta+'px);')
    // .html('B: '+beta+'<br>G: '+gamma);
    .html(event.accelerationIncludingGravity.y);
}, true);
</script>

	</body>
</html>