body {

	overflow: hidden;
  background-color: #2C2A1B;
}


.background {
  position: absolute;
  z-index: -999;
  margin: 0px;
  padding: 0px;
  top: 0;
  left: 0;
}


#body {
	background-position: url(/img/body-baseball.png);
	background-size: 100%;
	background-position: 10% 30%;
}


#head {
  display: block;
  position: absolute;
  top: 295px;
  left: 378px;
  width: 232px;
  height: 316px;
  background: url('/img/head-baseball2.png');
  cursor: pointer;
}
